/*header*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
header{
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(-90deg, rgb(17, 40, 143), rgb(18, 236, 189));
    width: 100%;
    height: 100px; 
    overflow: hidden;
    position: fixed;
    top: 0;


   
}
.icono{
  width: 70px;
  height: 70px;
  position: fixed;
  left: 50px;
  top: 15px;
}


body{
  font-family: "lato" , sans-serif;
}

.titulo{
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: Arial;
    position: relative;
    bottom: -25px;
    
    
}

/* navegador */

.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:brown;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .menu a:hover{
    color: #f1f1f1;
  }

  .menu .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 25px;
    margin-left: 50px;
  }
  @media screen and (max-height: 450px){
    .menu {padding-top: 15px;}
    .menu a {font-size: 18px;}
  }
  
  nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: brown;
    height: 100%;
    position: fixed;
    overflow: auto;
    
}
/*agrega el sidenav , a tamaño grande*/

.sidenav a,.dropdown-btn{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/*activa el mouse con el hover*/
.sidenav a:hover , .dropdown-btn:hover{
  color: #f1f1f1;
}
/* agrega y activa la clase de la clase para activar el botton*/
.active {
  background-color: rgb(43, 0, 128);
  color: white;
}

.dropdown-container{
  display: none;
  background-color: #262626;
  padding-left: 8px;
}
/* esto es opcional para cuando se desplazen los iconos hacia abajo*/
.down{
  float: right;
  padding: 8px;
}


/*texto*/
.main > .title{
  padding: 16px;
  margin-top: 30px;
  height: 1500px;
}


.title{
  position: fixed;
    font-family: Arial;
    text-align: center;
    font-size: 35px;
    position: relative;
    bottom: 30px;
    border-radius: 25px;
    background: rgb(5, 187, 238);
    padding: 15px;
    width: 500px;
    height: 78px;
    margin: auto;
}



p{
  margin-top: 2px;
    text-align: center,
   
    
}