/*header*/
header{
    background-color: red;
}

.titulo{
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: Arial;
}

/* navegador */
nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: brown;
    height: 100%;
    position: fixed;
    overflow: auto;
    
}


li a{
    display: block;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-family: 'Arial';
    font-size: 18px;
}

li a.active{
    background-color: #04aa6d;
    color: white;
}

li a:hover:not(.active) {
    background-color: rgb(14, 12, 145);
    color: white;
}

/*texto*/

h1{
    font-family: Arial;
    text-align: center;
    font-size: 35px;
    margin: auto;
    
}

p{
    text-align: center;
}